body {
  font-family: "Open Sans", sans-serif;
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
}
@keyframes heartload {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}
.heartOn,
.heartOff {
  height: 40px;
  margin: 5px 10px;
  cursor: pointer;
  animation: heartload linear 0.3s;
}

/* 상단 Nav 바 */
.nav-wrapper {
  height: 80px;
  background-color: white;
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 1;
}
.nav-div {
  display: flex;
  justify-content: center;
  padding: 26px 20px;
  background-color: white;
  max-width: 1010px;
  width: 100%;
  position: relative;
}
.nav-div img {
  height: 30px;
}
.nav-div input {
  border-radius: 3px;
  background: #fafafa;
  border: solid 1px #dbdbdb;
  margin: 0 auto;
  text-align: center;
  width: 235px;
  color: gray;
  opacity: 0.5;
}
.nav-right-div {
  display: flex;
  justify-content: space-between;
  width: 150px;
}
.nav-right-div img {
  height: 30px;
  cursor: pointer;
}

/* 메인 피드  */

/* 피드 top */
.main-wrapper {
  padding-top: 140px;
  margin: 0 auto;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.feed-wrapper {
  float: left;
  width: 680px;
}
.feed-div {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 17px;
}
.feed-div .feed-top {
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 5px 5px 0 0;
  background-color: white;
  height: 40px;
  padding: 15px 20px;
  position: relative;
}
.feed-top img {
  width: 40px;
  border-radius: 30px;
  cursor: pointer;
  margin-right: 15px;
  vertical-align: top;
}
.feed-top span {
  vertical-align: top;
  line-height: 40px;
}

/* 피드 bottom  */
.feed-bottom {
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-top: none;
  margin-top: -5px;
  background-color: white;
  font-size: 14px;
  border-radius: 0 0 5px 5px;
  font-weight: 600;
}

.feed-bottom-first {
  display: flex;
  width: 100%;
  padding: 10px 10px;
  position: relative;
  box-sizing: border-box;
}

.feed-bottom-first img {
  height: 25px;
  margin: 5px 10px;
  cursor: pointer;
}
.comment-list {
  white-space: pre-wrap;
  position: relative;
  font-weight: 100;
}
.comment-list img {
  width: 15px;
  position: absolute;
  right: 30px;
  top: 0px;
}
.comment-list a {
  font-weight: 600;
  text-decoration: none;
}
.comment-list a:hover,
.comment-list img {
  cursor: pointer;
  text-decoration: none;
}

.feed-bottom .comment-list {
  font-size: 15px;
  margin-top: 10px;
  margin-left: 20px;
}

.sec {
  position: absolute;
  opacity: 0.2;
  align-self: center;
  right: 410px;
}
.add-comment-div {
  padding: 10px 10px;
  position: relative;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
}
.comment-input {
  border-style: none;
  padding: 15px 15px;
  font-size: 17px;
  resize: none;
  outline: none;
  color: black;
  overflow-y: visible;
  width: 90%;
}

.add-comment-btn {
  position: absolute;

  width: 60px;
  float: right;
  font-size: 18px;
  text-align: center;
  right: 5px;
  align-self: center;
  color: #95c8f8;
  opacity: 0.6;
  cursor: pointer;
}

/* 오른쪽 div */
.right-div-wrapper {
  position: fixed;
  width: 1000px;
  height: 200px;
}
.right-div {
  position: absolute;
  width: 310px;
  right: 10px;
}
.right-div-top {
  width: 293px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 20px;
}
.right-div-top img {
  height: 60px;
  margin-left: 35px;
  border-radius: 30px;
  cursor: pointer;
}
.right-div-top span {
  position: absolute;
  margin: 0;
  margin-left: 15px;
}
.box-div {
  width: 100%;
  padding-top: 15px;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  background-color: white;
  margin: 10px 0 0 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.box-div .box-top {
  position: relative;
  display: flex;
  font-size: 15px;
  padding: 0 20px;
  margin-bottom: 15px;
}
.box-top-left {
  color: gray;
  font-weight: 600;
}
.box-top-right {
  position: absolute;
  right: 15px;
  font-size: 14px;
  font-weight: 600;
}

.box-content-list {
  border-radius: 30px;
  margin-bottom: 5px;
  cursor: pointer;
  height: 55px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
}
.box-content-list img {
  width: 38px;
  vertical-align: middle;
  margin-left: 22px;
  border-radius: 20px;
  cursor: pointer;
}
.left-img-div {
  float: left;
  position: relative;
}
.left-img-div img {
  width: 38px;
  margin-left: 22px;
  border-radius: 20px;
  cursor: pointer;
}
.left-img-div img:first-child {
  margin: -3px 0px 0px 19px;
  width: 44px;
  position: absolute;
}

.img-desc {
  margin-left: 10px;
  width: 100%;
  vertical-align: middle;
  position: relative;
}
.img-desc-bottom {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 170px;
  color: gray;
  font-weight: normal;
}

.follow {
  color: rgba(var(--h5f, 56, 151, 240), 1);
  right: 10px;
  cursor: pointer;
  top: 0;
  margin-top: 10px;
  position: absolute;
}
